<?xml version="1.0"?>
<launch>
  <arg name="namespace"               default="dynamixel_workbench"/>
  <param name="$(arg namespace)/joint_names" value="$(find dynamixel_workbench_operators)/config/joint_names.yaml"/>
  <node name="position_assign" pkg="dynamixel_workbench_operators" type="position_assign" required="true"  output="screen" ns="$(arg namespace)"/>
</launch>
